<?xml version="1.0"?>
<ProjectOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" identifier="CS">
  <GeneralOptions>
    <Increment>Minor</Increment>
    <HandleIncrementOverflow>false</HandleIncrementOverflow>
  </GeneralOptions>
  <MsBuildOptions>
    <Usage>
      <Optimize useage="Setting" value="true" />
      <DebugConstants useage="None" />
      <DebugInfo useage="None" />
    </Usage>
  </MsBuildOptions>
  <NuGetOptions>
    <NuSpecOptions>
      <Metadata>
        <Id use="true" saveBack="true" />
        <Version use="true" saveBack="true" />
        <Title use="true" saveBack="true" />
        <Authors use="true" saveBack="true" />
        <Owners>true</Owners>
        <Description use="true" saveBack="true" />
        <ReleaseNotes>true</ReleaseNotes>
        <Summary>true</Summary>
        <Language use="false" saveBack="false" />
        <ProjectUrl>false</ProjectUrl>
        <IconUrl>false</IconUrl>
        <LicenseUrl>false</LicenseUrl>
        <Copyright use="true" saveBack="true" />
        <Tags>false</Tags>
        <RequireLicenseAcceptance>false</RequireLicenseAcceptance>
        <DevelopmentDependency>false</DevelopmentDependency>
        <Dependencies>true</Dependencies>
      </Metadata>
      <Files useFromSettings="false" />
    </NuSpecOptions>
  </NuGetOptions>
</ProjectOptions>