<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="LogTankAppender" type="log4tank.LogTankAppender, log4tank">
      <param name="CustomerKey" value="ixcmvt0d" />
      <param name="ApiKey" value="aps9wlf5l0tx8t6" />
      <param name="Threshold" value="INFO" />
    </appender>
    <appender name="LogTankAppenderWithoutThreshold" type="log4tank.LogTankAppender, log4tank">
      <param name="CustomerKey" value="ixcmvt0d" />
      <param name="ApiKey" value="aps9wlf5l0tx8t6" />
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\temp\log4tank_test.log" />
      <appendToFile value="true" />
      <maxSizeRollBackups value="90" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %5level [%thread] - %message%newline" />
      </layout>
    </appender>
    <!--<root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="LogTankAppender" />
    </root>-->
    <logger name="TestLogger">
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="LogTankAppender" />
    </logger>
    <logger name="PerformanceTestFileDebug">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
    <logger name="PerformanceTestFileInfo">
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </logger>
    <logger name="PerformanceTestFileWarn">
      <level value="WARN" />
      <appender-ref ref="FileAppender" />
    </logger>
    <logger name="PerformanceTestLogTankDebug">
      <level value="DEBUG" />
      <appender-ref ref="LogTankAppenderWithoutThreshold" />
    </logger>
    <logger name="PerformanceTestLogTankInfo">
      <level value="INFO" />
      <appender-ref ref="LogTankAppenderWithoutThreshold" />
    </logger>
    <logger name="PerformanceTestLogTankWarn">
      <level value="WARN" />
      <appender-ref ref="LogTankAppenderWithoutThreshold" />
    </logger>
    <logger name="PerformanceTestMixed1">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="LogTankAppenderWithoutThreshold" />
    </logger>
    <logger name="PerformanceTestMixed2">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="LogTankAppender" />
    </logger>
  </log4net>
</configuration>